#root {
  max-width: 1280px;
  margin-top: 50px;
  text-align: center;
}

.team
{
  width: 100vw;
  max-height: 650px;
  display: flex;
  flex-direction: row;

  background-color: var(--color-blue-dark);
}

.team_member
{
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 30px;

  padding: 30px 75px;

  color: white;
}

.team_member_name
{
  color: var(--color-red);
  font-size: 40px;
}

.team_member_role
{
  font-size: 15px;
}

.team_member > *
{
  margin-inline: auto;
  align-self: center;
}

.team_member_img
{
  width: 200px;
  aspect-ratio: 1 / 1;

  object-fit: cover;
}

.team_member_email
{
  align-self: end;
  color: var(--color-red);
}

.about
{
  width: 100vw;

  background-color: #c8c8c8;
  color: var(--color-blue-dark);

  padding: 50px 0;

  display: flex;
  flex-direction: column;
  align-items: center;

}

.about_header
{
  margin-bottom: 30px;
  align-self: center;
}

.about_text
{
  max-width: 100ch;
  font-size: 20px;
}