:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color-orange: #E97A16;
  --color-red: #ff5428;
  --color-orange-light: #D68B40;
  --color-green: #4C732C;
  --color-blue: #2c4c5b;
  --color-blue-dark: #153246;
  --color-blue-light: #5db2fb;
}

*
{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: inherit;
}


body
{
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100vh;

  padding: 0;
  margin: 0;

}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button
{
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;

  cursor: pointer;

  background-color: var(--color-red);
  color: inherit;
  padding: 9px 24px;

  box-shadow: 0 3px rgba(255, 255, 255, 0.05);

  border: none;
  border-radius: 20px;
}

button:hover
{
  scale: 103%;
}
