.proposal
{

    color: white;
    font-size: 32px;

    width: 100vw;
    min-height: 600px;

    display: flex;
    flex-direction: row;

    > *
    {
        min-height: 600px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.problem
{
    background-color: red;
    height: 100%;
    
}

.solution
{
    background-color: #00ff00;
    height: 100%;
}